* {
    margin: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(to top, #000000, #1c1a1a, #312d2b, #46423e, #5b5851, #5b5851, #5b5851, #5b5851, #46423e, #312d2b, #1c1a1a, #000000);
}

#game-container{
    width: 600px;
    height: 600px;
    position: relative;
    background-color: #616161;;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    border:4px solid white;
    border-radius: 5px;

}


.player{
    height: 10px;
    width: 10px;
    background-color: rgb(196, 248, 9);
    border-radius: 50%;
}

.obstacle {
    background-color: rgb(54, 49, 51);
    width: 10px;
    height: 10px;
}
.main > h1 {
    color: white;
}
.main > h2 {
    padding-top: 30px;
    color: white;
}

.main > h1 {
    padding-bottom: 30px;
}

.finish {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: yellow;
    margin-left: 570px;
    margin-top: 570px;
}

.img-finish {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-score {
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 50%;
    background-color: rgb(223, 247, 8);
}

.player-hp {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-hp > h4 {
    margin-right: 5px;
    color: white;
}

